* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* background-color: rgb(7, 7, 19); */
	background-color: rgb(223, 223, 243);
}
.header {
	background-color: green;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding: 20px;
}
.header ul {
	display: flex;
	width: 550px;
	justify-content: space-between;
}
.header li,
h1 {
	list-style-type: none;
	font-size: 21px;
	color: white;
}
